/PROJETOS/ProjetoClienteServidorSockets/build/
/PROJETOS/ProjetoRefatoracao/build/
/PROJETOS/ProjetoRefatoracao/dist/
/PROJETOS/ProjetoRefatoracao/nbproject/private/
/PROJETOS/ProjetoExemploServlet/dist/
/PROJETOS/ProjetoExemploWebMVC/build/
/PROJETOS/ProjetoExemploWebMVC/dist/
/PROJETOS/ProjetoClienteServidorSockets/dist/
/PROJETOS/PadroesDeProjeto/build/
/PROJETOS/PadroesDeProjeto/nbproject/private/
/PROJETOS/ProjetoDebug2/nbproject/private/
/PROJETOS/ProjetoGeracaoDeArquivoJAR/build/
/PROJETOS/ProjetoGeracaoDeArquivoJAR/dist/
/PROJETOS/ProjetoGeracaoDeArquivoJAR/nbproject/private/
